{
    "token": "",
    "prefix": "",
    "owner": "",
    "admins": [""],
    "mongoURL": "",
    "premiumTimeout": "",
    "baseWSURL": "",
    "wsToken": "",
    "youtubekey": "",
    "soundcloudkey": ""
}